{{#if game.isRunning}}
  <h2>Your Score is: {{score}}</h2>
{{else}}
  <button
    class="start-button"
    onclick={{action "startGame"}}>Start</button>
{{/if}}

<div class="board">
  {{#each board as |space|}}
    <button class="space {{if space 'space--active'}}"
     onclick={{action "score" space}}></button>
  {{/each}}
</div>

